.div{
    border: 2px solid black;
    width: 50%;
    margin-top: 10px;
    margin-left: 500px;
    border-radius: 10px;
}
.button{
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 6px;

}
.button :hover,
.button :active{
    background-color: #641e03;
    border-color: #641e03;
}
.li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6px;
    font-size: 20px;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 5px;
}
.li:hover{
    background-color: rgb(230, 227, 227);
}